
body {
    background-color: #032537;
}
html {
    box-sizing: border-box;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    margin-top: 1em;
    color: #d8d8d8;
}
p {
    font-family: 'Abel', sans-serif;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    color: #d8d8d8;
}

.text-center {
    padding: 0 33%;
}
.lcwa-email {
    padding: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 21px;
}

.text-center.lcwa-email {
    text-decoration: none;
    color: #30b7e7;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}