* {
  box-sizing: border-box;
}

body {
  color: white;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.contact-form {
  text-align: center;
  justify-items: center;
}

h1.contact-form {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

.wrapper {
  box-shadow: 0 0 20px 0 #a20304;
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: white;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 1rem 0;
  color: black;
  font-family: Arial;
  font-size: 20px;
}
/*FORM STYLES*/
.contact form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 0 20px;
}
.contact form label,
.contact-form textarea {
  display: block;
  color: black;
  pointer-events: none;
  font-size: 10px;
  border-color: #e59c58;
}

textarea.form-control:focus {
  border-color: #ff6602;
  border-left-width: thick;
}
textarea.form-control:hover {
  background-color: white;
  border-left-width: thick;
}
textarea.form-control,
td {
  border-color: #ff6602;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
textarea.form-control {
  border-left-width: thick;
  width: 200%;
}
.contact form p {
  margin: 0;
}

label.form-control-placeholder.service {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px !important;
}

.contact form input {
  border: 1px solid #ff6602;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  -webkit-border-radius: 5px;
  margin-right: 5px;
  outline: none;
  width: -webkit-fill-available;

  padding-right: 40px;
  border-left-width: thick;
}

.full {
  text-align: center;
}

.contact form input:active {
  outline: none;
}

input[type="text"] {
  width: 70%;
}
input[type="checkbox"] {
  border: 1px solid #ff6602;
  padding: 9px;
}
.contact form button {
  text-align: center;
}
.wrapper .btn {
  margin-left: 10%;
}
h3 {
  font-family: Arial;
  font-size: 20px;
  padding-bottom: 10px;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  margin: 0 1rem 0;
}

.form-control-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px !important;
  color: #000;
}
