*{
    box-sizing: border-box;
}

body {
    
    color: white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding:3em;
}

ul{
    list-style: none;
    padding: 0;
}

.contact-form{
    text-align: center;
    justify-items: center;
}

.wrapper{
    box-shadow: 0 0 20px 0 #a20304;
}

.wrapper > *{
padding: 1em;
}

.company-info{
    background: #000000;
}

.company-info h3, .company-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
}
/*FORM STYLES*/
.contact form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 0 20px;
}

.email-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:100%;
    
}

.contact form label, .contact-form textarea {
    display: block;
    color: #a20304;
    pointer-events: none;
}

textarea {
    resize: none;
}

.contact form p{
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 1;
}

.contact form input, .contact form textarea {
    width: 100%;
    color: #a20304;
    font-family: font36452;
    font-size: 21px;
    background-color: #eae8e8;
}

.contact form button {
    text-transform: uppercase;
    width: 80%;
    text-align: center;
}

.wrapper .btn{
    margin-left: 10%;
    
}
h3 {
    font-family: 'Helvetica';
    font-size: 20px;
    color: #eaeaea;
  }

