.story-wrapper {
  padding: 0 100px;
  background-image: linear-gradient(#2c1b91, #3d0774);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: -1%;
}

.story {
  padding: 15%;
}

.story h1 {
  font-size: 60px;
}

.story-title,
.story-text.body-text {
  color: #fff;
}
.story-text.body-text {
  padding-top: 50px;
}

@media screen and (min-width: 1920px) {
  #interactive-sphere {
    position: sticky;
    transform: translate(-40%, 20%);
  }
}

@media (max-width: 460px) {
  .story-wrapper {
    padding: 10px;
    height: unset;
  }
  .story {
    padding: 10px;
  }
  .story h1 {
    font-size: 35px;
    text-align: center;
  }
  .story-wrapper p {
    text-align: -webkit-center;
    font-size: 14px;
  }
  .story-text.body-text {
    padding-top: 20px;
  }
  #interactive-sphere {
    transform: unset;
    position: relative;
    top: 0;
  }
  .spinning-animation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (min-width: 461px) and (max-width: 1366px) {
  .story-text.body-text {
    padding-top: 10px;
  }
  .story h1 {
    font-size: 42px;
  }
  .story {
    padding: 5%;
  }
  .story-wrapper p {
    font-size: 18px;
  }
}
