.reviews-wrapper {
  background-image: linear-gradient(#2c1b91, #3d0774);
  padding: 190px 20px 0px 20px;
  width: 100%;
  min-height: 80%;
  margin: 0 auto;
  margin-top: -1%;
}

.review {
  display: grid;
  grid-template-rows: 65% auto;
  column-gap: 10px;
  margin: 0 12%;
}

.reviews-comment.body-text {
  margin-top: -4%;
  line-height: 2em;
  text-shadow: 0 0 4px #000;
  font-style: oblique;
  font-size: 20px;
}

.review-footer {
  margin-top: 7.4em;
  justify-self: center;
  align-self: center;
  font-style: initial;
}
.review-footer.column-two {
  margin-top: 38%;
}

.reviews-title h1,
.reviews-comment,
.reviewer-name h3,
.reviewer-role h4,
.reviewer-company h4 {
  text-align: center !important;
  color: #ffffff;
}

.reviewer-name h3,
.reviewer-role h4,
.reviewer-company h4 {
  text-shadow: 0 0 3px #000;
}

.reviews-wrapper .reviews-title h1 {
  margin-top: -2.2em;
  font-size: 60px;
}

.reviewer-name h3 {
  font-size: 40px;
  margin-top: -20%;
}

.reviewer-role h4 {
  font-size: 30px;
  padding-top: 10px;
}

.reviewer-company h4 a {
  font-size: 24px;
  color: #fff;
}
.reviewer-company h4 {
  margin-top: 1%;
}
.reviewer-company.two h4 {
  margin-top: 1%;
}
.reviewer-company h4 a:hover {
  color: #ff6602;
}

.reviews-title {
  padding: 30px;
  position: relative;
  top: -5em;
}

.review-quote {
  display: inline-block;
  position: relative;
  max-width: 80%;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  word-wrap: break-word;
}

.review-quote::before {
  color: #ccc;
  content: open-quote;
  font-size: 6em;
  line-height: 0.1em;
  margin-left: -0.1em;
  vertical-align: -0.4em;
  position: relative;
  left: -0.2em;
}

.review-quote:after {
  color: #ccc;
  content: close-quote;
  font-size: 6em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
}

.review-quote.two::before {
  margin-left: -0.3em;
  position: relative;
  left: -0.2em;
}
.review-quote.two::after {
  margin-left: 0.1em;
}

/*Owl Carousel - overriden rules*/

.owl-carousel .owl-item img {
  display: initial;
  width: 33%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: #ff6602;
  border: none;
  padding: 0 !important;
  font-size: 6rem;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #ff6602 !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  font-size: 6rem !important;
}

/* Reposition the navigation buttons to the sides of Carousel*/
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -1rem;
}

.owl-next {
  right: -1rem;
}
.owl-carousel button.owl-dot {
  display: none;
}

.reviews-wrapper .owl-carousel.owl-theme.owl-loaded.owl-drag {
  top: -7em;
}

/*From file OwlTheme*/

.owl-theme .owl-nav [class*="owl-"] {
  color: #ff6602;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none !important;
  color: #ff6600;
  text-decoration: none;
}

.owl-theme .owl-dots .owl-dot {
  display: none;
}

@media (max-width: 460px) {
  .review {
    margin: unset;
  }
  .reviews-wrapper {
    padding-top: 100px;
  }
  .reviews-comment.body-text {
    line-height: 1.8em;
    font-size: 16px;
    margin-top: -15%;
  }
  .reviews-wrapper .reviews-title h1 {
    font-size: 40px;
  }
  .reviews-title {
    padding-top: 60px;
    top: -5em;
  }
  .reviews-wrapper {
    height: unset;
  }
  .reviewer-name h3 {
    font-size: 25px;
    margin-top: 10%;
  }

  .reviewer-role h4 {
    font-size: 15px;
    margin-top: -5%;
  }

  .reviewer-company h4 a {
    font-size: 16px;
    color: #fff;
  }
  .reviewer-company h4 {
    margin-top: 10px;
    padding-top: unset;
  }

  .review-quote::before {
    margin-left: 0.01em;
    vertical-align: -0.5em;
    font-size: 4em;
  }

  .review-quote:after {
    margin-left: 0.1em;
    vertical-align: -0.6em;
    font-size: 4em;
  }

  .review-quote.two::after {
    margin-left: 0.1em;
    font-size: 4em;
  }
  .review-quote.two::before {
    font-size: 4em;
    margin-left: -0.1em;
    vertical-align: -0.5em;
  }
  .review-footer,
  .review-footer.column-two {
    margin-top: -2rem;
  }
}
