.reviews-wrapper {
  background-image: linear-gradient(#2c1b91, #3d0774);
  padding: 150px 20px;
  width: 100%;
}

.reviews-comment.body-text {
  margin: 0 30%;
}

#review-first-line,
#review-second-line,
#review-third-line,
#review-fourth-line {
  font-weight: bold;
  color: #ff6602;
}

.review .reviews-title h1,
.reviews-comment,
.reviewer-name h2,
.reviewer-role h3,
.reviewer-company h3 {
  text-align: center !important;
  color: #ffffff;
}

.reviewer-company h3 a {
  color: #fff;
}

.reviews-title {
  padding: 30px;
}
.reviewer-name {
  padding: 20px;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 9em;
  line-height: 0.1em;
  margin-left: 3.5em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 9em;
  line-height: 0.1em;
  margin-left: 9em;
  vertical-align: -0.6em;
}

/*Owl Carousel - overriden rules*/

.owl-carousel .owl-item img {
  display: initial;
  width: 33%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: #ff6602;
  border: none;
  padding: 0 !important;
  font-size: 6rem;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #ff6602 !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  font-size: 6rem !important;
}

/* Reposition the navigation buttons to the sides of Carousel*/
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -1rem;
}

.owl-next {
  right: -1rem;
}
.owl-carousel button.owl-dot {
  display: none;
}

/*From file OwlTheme*/

.owl-theme .owl-nav [class*="owl-"] {
  color: #ff6602;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none !important;
  color: #ff6600;
  text-decoration: none;
}

.owl-theme .owl-dots .owl-dot {
  display: none;
}
