.separator-team {
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  bottom: 4em;
}

@media screen and (max-width: 1024px) {
  .separator-team {
    bottom: unset;
  }
  .separator__svg {
    height: 100px;
  }
}
