* {
  margin: 0;
  padding: 0;
}

.solutions-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.solutions-wrapper h1 {
  font-size: 60px;
}

.solutions-title {
  text-align: center;
  position: relative;
  top: -35px;
}
.card-wrapper h2 {
  font-size: 40px;
}
.solution h2 {
  padding-top: 20px;
}

.card-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.solution,
.description {
  text-align: center;
  display: inline-block;
  padding: 1.5rem 2rem;
}
.description {
  line-height: 1.6rem;
}

#more-text-one,
#more-text-two,
#more-text-three {
  display: none;
}
.contact-notice {
  display: block;
}
.contact-notice::before {
  content: "\A";
  white-space: pre;
  display: block;
}
#top-description {
  display: inherit;
}
#mission-automate {
  background: -webkit-linear-gradient(#ff6602, #ff5502);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#inner-contact {
  color: #ff6602;
  text-decoration: none;
}
