* {
  margin: 0;
  padding: 0;
}

.solutions-wrapper {
  padding-top: 140px;
  padding-bottom: 170px;
}

.solutions-wrapper h1 {
  font-size: 60px;
}

.solutions-title {
  text-align: center;
  position: relative;
  top: -55px;
}
.card-wrapper h2 {
  font-size: 40px;
}
.solution h2 {
  padding-top: 20px;
}

.card-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.solution,
.description {
  text-align: center;
  display: inline-block;
  padding: 1.5rem 2rem;
}
.description {
  line-height: 1.6rem;
}

#more-text-one,
#more-text-two,
#more-text-three {
  display: none;
}
.contact-notice {
  display: block;
}
.contact-notice::before {
  content: "\A";
  white-space: pre;
  display: block;
}
#top-description {
  display: inherit;
}
#mission-automate {
  background: -webkit-linear-gradient(#ff6602, #ff5502);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#site-audit,
#site-audit:hover {
  color: #ff6602;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#inner-contact,
#inner-contact:hover {
  color: #ff6602;
}

#btn-one:active,
#btn-two:active,
#btn-three:active {
  background-color: #ff6602;
}

@media screen and (max-width: 460px) {
  .solution-image {
    width: 300px;
    margin: 0 -20px;
  }
  .solutions-wrapper h1 {
    font-size: 40px;
    margin: 0 20px;
  }
  .solutions-wrapper {
    padding-top: 80px;
    padding-bottom: 10px;
  }
  .solution h2 {
    font-size: 30px;
  }
  .solution p {
    font-size: 16px;
  }
}
