.team-wrapper {
  padding: 70px 20px;
  margin-bottom: -30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto 10% auto 10%;
}

.team-img {
  width: 200px;
  border-radius: 9rem;
}
.person h2 a {
  font-size: 40px;
  color: #000;
}
.person h2 a:hover {
  color: #ff6602;
}
.person {
  text-align: center;
}
.member-name {
  padding: 20px;
}
.member-role {
  padding-bottom: 20px;
}
h3.member-role {
  font-size: 23px;
}
.member-description,
.member-role {
  color: #000;
}
.member-description {
  margin: 0 90px;
}
.team {
  text-align: center;
  width: 50%;
  transform: translate(50%, 0);
}
.team h1 {
  font-size: 60px;
}
.team-title {
  text-align: center;
}
.team h3 {
  font-size: 21px;
}
.team-description {
  text-align: center;
  color: #000;
  margin-top: 60px;
  overflow-wrap: break-word;
}
.owl-carousel .owl-item img {
  width: 53% !important;
}
.owl-nav span:focus {
  outline: unset !important;
}
.owl-next:focus,
.owl-prev:focus {
  outline: none;
}

@media screen and (max-width: 460px) {
  .team h1 {
    font-size: 40px;
    white-space: nowrap;
  }
  .team-description {
    margin: 20px -60px;
  }
  .team h3 {
    font-size: 16px;
  }
  .team-wrapper {
    padding: 9px 20px;
    margin: 0 auto;
    width: min-content;
  }
  .member-description {
    margin: unset;
  }
  .person h2 a {
    font-size: 30px;
  }
  .person h3 {
    font-size: 18px;
  }
  .person p {
    font-size: 16px;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    margin-top: 1.3rem !important;
  }
}
