.team-wrapper {
  padding: 120px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.team-img {
  width: 200px;
  border-radius: 100px;
}
.person h2 {
  font-size: 40px;
}
.person {
  text-align: center;
}
.member-name {
  padding: 20px;
}
.member-role {
  padding-bottom: 20px;
}
h3.member-role {
  font-size: 23px;
}
.member-description,
.member-role {
  color: #000;
}
.member-description {
  margin: 0 90px;
}
.team {
  text-align: center;
  width: 50%;
  transform: translate(50%, 0);
}
.team h1 {
  margin-top: 60px;
  font-size: 60px;
}
.team-title {
  text-align: center;
}
.team h3 {
  font-size: 21px;
}
.team-description {
  text-align: center;
  color: #000;
  margin-top: 60px;
  overflow-wrap: break-word;
}
