.slider .carousel-item .carousel-img{
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat; 
  height: 65vh; 
  width: 100%;
  }
.slider .carousel-item .carousel-img .col-6{
    padding-left: 0;
    padding-right: 0;
  }

.slider .carousel-item .carousel-img button {
    margin-top: 50px;
}
.slider .carousel-item .carousel-img .card-img-top{
  border-radius: 0;
  width: 550px;
}
.carousel-indicators  li{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}