

/*Rules for header navigation in desktop devices*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
header{
  background-color: #032537;
  padding: 20px 0;
}
.navbar.navbar-expand-lg{
  justify-content: center;
  display: flex;
}

.nav-item.nav-link {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  padding: 0px 3rem;
  border-right: 1px solid #ffffff;
  color: #ffffff;
}

.nav-item.nav-link:last-of-type {
  border-right: none;
}

.nav-item.nav-link:hover {
  box-shadow: #ffffff 0.5px 1px 0px 1px;
  color: #032537;
  background-color: #ffffff;
  box-decoration-break: slice;
}

/*rules for labels*/
.mr-sm-2 {
  color: #ffffff;
}
/*Rules for login form*/
.form-inline.form-control {
  background-color: #ffffff;
}

.form-control {
  font-size: 0.7rem;
  background-color: #ffffff;
}
.form-control:focus-within {
  background-color: #ffffff;
}

.form-control:hover {
  border: 1px solid #30b7e7;
  box-shadow: 1px 0px 7px 3px #30b7e7;
}


#exampleEmail, #examplePassword {
  height: 22px;
}

/*serach bar*/
[type="search"] {
  padding: 2px 10px;
  height: 30px;
  font-size: 10px;
}

/*Button style*/

.btn {
  padding: 6px 12px;
  font-size: 0.8rem;
}

.btn.btn-primary.my-2.my-sm-0 {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: bold;
  background-color: #032537;
  color: #ffffff;
  border-style: 5px solid;
  border-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 1px 0px 7px 3px #30b7e7;
}

.btn.btn-primary.my-2.my-sm-0:hover {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: bold;
  background-color: #ffffff;
  color: #032537;
  border-color: #ffffff;
  box-shadow: 1px 0px 7px 3px #30b7e7;
}

.HeaderNav.mobile ul ul li {
  border-right: none;
}
.btn.btn-primary.my-2.my-sm-0:active {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: bold;
  background-color: #032537;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 0px 7px 3px #30b7e7;
}

.d-flex.justify-content-center > p{
  color: #ffffff;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  background-color: #ffffff;
  border-width: 1px;
  box-shadow: #30b7e7 3px 1px 10px 2px;
  border-radius: 2px;
}
