/*Rules for header navigation in desktop devices*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
header {
  background-color:#000000;
  height:150px;
}
 body {
  background-color:#000000;
 /* background-image: url('Background.jpg') */
}
.navbar.navbar-expand-lg {
  justify-content: center;
  display: flex;
}
.nav-item.nav-link {
  font-family: 'Helvetica';
  font-size: 100px;
  padding: 0px 1rem;
  border-right: 1px solid #ffffff;
  color: #a20304;
}
.nav-item.nav-link:last-of-type {
  border-right: none;
}
.nav-item.nav-link:hover {
  box-shadow: #eae8e8 0.5px 1px 0px 1px;
  font-size: "21px";
  color: #d62027;
  background-color: #ffffff;
  box-decoration-break: slice;
}
.nav-item.nav-link {
 font-size: "21px";
  color: #eae8e8;
  background-color: #d62027;
  box-decoration-break: slice;
}

/*rules for labels*/
.mr-sm-2 {
  color: #eae8e8;
}
/*Rules for login form*/
.form-inline.form-control {
  background-color: #eae8e8;
  border: none;
}
.form-control {
  font-size: 0.7rem;
  background-color: #eae8e8;
}
.form-control:focus-within {
  background-color: #eae8e8;
  box-shadow: none;
}
.form-control:hover {
  border: 1px solid #a20304;
  box-shadow: 1px 0px 7px 3px #a20304;
}
#exampleEmail, #examplePassword {
  height: 22px;
}

/*Button style*/
.btn {
  padding: 6px 12px;
  font-size: 0.8rem;
}
.btn.btn-primary.my-2.my-sm-0, .text {
  font-family:  'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: bold;
  background-color: #a20304;
  color: #eae8e8;
  border-style: 1px solid;
  border-color: #eae8e8;
  border-radius: 0.5rem;
  box-shadow: 1px 0px 7px 1px #a20304;
}
.btn.btn-primary.my-2.my-sm-0:hover {
  font-family: 'Helvetica' ,'Arial', sans-serif;
  font-size: 21px;
  font-weight: bold;
  background-color: #eae8e8;
  color: #a20304;
  border-color: #a20304;
  border-radius: 0.5rem;
  box-shadow: 1px 0px 7px 1px #eae8e8;
}
.HeaderNav.mobile ul ul li {
  border-right: none;
}
.btn.btn-primary.my-2.my-sm-0:active {
  font-family: 'Helvetica' ,'Arial', sans-serif;
  font-size: 21px;
  font-weight: bold;
  background-color: #eae8e8;
  color: #a20304;
  border-color: #a20304;
  border-radius: 0.5rem;
  box-shadow: 1px 0px 7px 1px #a20304;
}
.forminput {
 padding:8px 12px;
}
.d-flex.justify-content-center > p {
  color: #ffffff;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
a {
  color: #d62027;
  font-family: 'Helvetica';
  font-size: 21px;
}
a:hover {
  color: #d62027;
  font-family: 'Helvetica';
  font-size: 21px;
}
hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  box-shadow: #d62027 3px 1px 10px 2px;
  border-radius: 1px;
}
h1 {
  font-family: 'Georgia';
  font-weight: 26px;
  font-size: 60px;
  color: #eaeaea;
}
h2 {
  font-family: 'Arial Regular';
  font-weight: 26px;
  font-size: 40px;
  color: #eaeaea;
}
h3 {
  font-family: 'Georgia';
  font-size: 20px;
  color: #eaeaea;
}
h4 {
  font-family: 'Georgia', sans-serif;
  font-size: 12px;
  color: #ffffff;
}
p {
  color: #eaeaea;
  font-family: 'Helvetica';
  font-size: 21px;
  text-align: left;
}
@media(max-width:670px) {
  .formbox {
    display:flex;
    flex-direction: column;
  }
  .formbox div {
    width:100%!important;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formbox div label {
    margin-bottom: 15px;
  }
  .formbox  input {
    width:90%!important;
  }
}

/*follow us image*/
.follow-image {
  background-image: url("./images/Follow_us_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
